CMakeFiles
CMakeCache.txt
CTestCostData.txt
CTestTestfile.cmake
LastTest.log
LastTestsFailed.log
.ninja_log
.ninja_deps
build.ninja
*.jar
lib*.a
*.tlog
*.filters
*.obj
*.old
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.exe
*.ninja
*.manifest
cmake_install.cmake